@import "tailwindcss";

@layer base {
  :root {
    @apply text-white bg-neutral-800 font-sans;
  }

  body {
    @apply grid place-items-center min-w-[320px] min-h-screen relative m-0;
  }
}

@media (prefers-reduced-motion) {
  *,
  ::before,
  ::after {
    animation: none !important;
  }
}

@layer utilities {
  .bg-transparency-grid {
    background-size: 24px 24px;
    background-position: -1px -1px;
    background-image: linear-gradient(
        to right,
        var(--color-blue-500),
        transparent 1px
      ),
      linear-gradient(to bottom, var(--color-blue-500), transparent 1px);
  }

  .col-2-alternating-colors {
    & > *:nth-child(4n + 1),
    & > *:nth-child(4n + 2) {
      @apply bg-black/10;
    }
    & > *:nth-child(4n + 3),
    & > *:nth-child(4n + 4) {
      @apply bg-white/5;
    }
  }
}
